*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient(300deg, #fae4a9, #ffbfa9, #ff9393);

}

header{
    display: flex;
    /* border: orchid solid 2pt; */
    align-items: center;
    justify-content: space-between; 
    width: 100%;

 }

.navbar {
    display: flex;
    justify-content: flex-end;
    /* border: blue solid 2pt; */
    margin: 20px 12px;

}

.navbar a{
    font-size: 10pt;
    font-weight: 600;
    padding: 0 1em;
    color: white;
    text-transform: uppercase;
}

.home-button{ 
    /* border: blue solid 2pt; */
    font-size: 10pt;
    font-weight: 600;
    padding: 0 2em;
    color: white;
    text-transform: uppercase;
}

a:hover{
    color: rgba(255, 255, 255, 0.623);
}

body{
    margin: 0;

}

.content{
    border: aqua solid 2pt;
    padding: 5%;
}

section{
    display: flex;
    flex-direction: column;
    animation: gradient-background 18s ease infinite;
    border: black solid 2pt;
    text-align: left;
    height: 100vh;
    justify-content: center;
    align-content: center;
    padding: 0 100px;
}

#home .content{
    border: burlywood solid 2pt;
    display: flex;
}

#home .content .description{
    padding-left: 25px;
}

#home-wrapper{
    border: blue solid 2pt;
    width: 80%;
    margin-right: 50px;

}

.profile-photo{
    border: greenyellow solid 2pt;
    padding: 20px;
    align-self: center;
}

img{
    width: 300px;
    display: inline-block;
    margin: auto;
    border: black solid 2pt;
    width: 100%;
    height: auto;
}

.title {
    border: red solid 2pt;
    padding: 25px;
}

.subtitle {
    border: red solid 2pt;
    padding: 25px;
    padding-left: 70px;
}

.description {
    border: black solid 2pt;
    padding: 25px;
    padding-left: 70px;
}

#more {display: none;}


#read-more{
    border: 1px solid #ffffe8;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #F99B7D;
    cursor: pointer;
    font-size: small;
    font-weight: 400;
    padding: 7px 7px;
    text-align: center;
}

#read-more:hover, #read-more:active {
  background-color: initial;
  color: #ffffe8;
}

h1 {
    font-size: 26pt;
    color: #ffffe8;
    padding-bottom: 10px;
}

h2{
    font-size: 14pt;
    color: #ffffe8;
}

p{
    font-size: 12pt;
    color: #ffffe8;
}


tr, td{
    /* border: brown solid 2pt; */
    font-size: 16pt;
    color: #ffffe8;
    width: 300px;
    text-align: center;
}

footer{
    display: flex;
    /* border: orchid solid 2pt; */
    align-items: center;
    width: 20vh;
    padding: 10px;
    margin: auto;
    border-top: rgba(255, 255, 255, 0.418) solid 2pt;
    position: relative;
}

.footer p{
    font-size: 7pt;
}


@keyframes gradient-background {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}


@media (max-width:576px){

    section, #home .content, #home-wrapper{
        padding: 0;
    }

    #home .content{
        flex-direction: column-reverse;
        padding: 25px;
        text-align: center;
        
    }

    #home-wrapper{
        width: 100%;
        margin-right: 0;
    }

    .title{
        padding: 10px;
    }

    .subtitle{
        padding: 10px;
        padding-left: 50px;

    }

    h1{
        font-size: 18pt;
        padding-bottom: 5px;
    }

    h2{
        font-size: 12pt;
    }
    
    p{
        font-size: 10pt;
    }

    .navbar a{
        font-size: 7pt;
        padding: 5px;
    }
    .home-button{
        font-size: 7pt;
        padding-left: 15px;
    }

    tr, td{
        font-size: 10pt;
    }
}

@media (max-width: 768px){
   
    section, #home .content, #home-wrapper{
        padding: 0;
    }

    #home .content{
        flex-direction: column-reverse;
        padding: 25px;
        text-align: center;
        
    }

    #home-wrapper{
        width: 100%;
        margin-right: 0;
    }

    .profile-photo{
        padding: 0;
    }

    img{
        width: 80%;
    }

    .title{
        padding: 10px;
    }

    .subtitle{
        padding: 10px;
        padding-left: 50px;

    }

    h1{
        font-size: 18pt;
        padding-bottom: 5px;
    }

    h2{
        font-size: 12pt;
    }
    
    p{
        font-size: 10pt;
    }

    .navbar a{
        font-size: 7pt;
        padding: 5px;
    }
    .home-button{
        font-size: 7pt;
        padding-left: 15px;
    }

    tr, td{
        font-size: 10pt;
    }
}

@media (max-width: 992px){
   
    section, #home .content, #home-wrapper{
        padding: 0;
    }

    #home .content{
        padding: 25px;
        text-align: center;  
    }

    #home-wrapper{
        width: 100%;
        margin-right: 0;
    }

    .profile-photo{
        padding: 0;
    }

    img{
        width: 80%;
    }

    .title{
        padding: 10px;
    }

    .subtitle{
        padding: 10px;
        padding-left: 50px;

    }

    h1{
        font-size: 18pt;
        padding-bottom: 5px;
    }

    h2{
        font-size: 12pt;
    }
    
    p{
        font-size: 10pt;
    }

    .navbar a{
        font-size: 7pt;
        padding: 5px;
    }
    .home-button{
        font-size: 7pt;
        padding-left: 15px;
    }

    tr, td{
        font-size: 10pt;
    }
}
